.card {
  background-color: white;
  color: black;
  width: auto;
  text-align: center;
  box-shadow: "0 8px 40px -12px rgba(0,0,0,0.3)";
  transition: 0.3s;
  padding: 10px;
}

.card:hover {
  box-shadow: "0 16px 70px -12.125px rgba(0,0,0,0.3)";
}

.MuiTypography--heading {
  font-weight: bold;
}

.movies-info {
  position: relative;
}

.image-fixation {
  position: absolute;
  bottom: -2px;
}
.image-fixations {
  position: absolute;
  top: 16px;
}

/* for modal */
.modal-body {
  overflow: scroll;
  height: 100%;
}

.modal-main {
  width: 90%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
}

.modal-info {
  margin: 20px;
}

.modal-heading {
  padding-bottom: 20px;
}

.modal-padding {
  padding: 15px 0;
}
