* {
  scroll-behavior: smooth;
}

.app {
  min-height: 90vh;
  padding-top: 20px;
  background-color: rgb(35, 38, 39);
  color: rgb(211, 207, 201);
}

.fixed-menu {
  width: 100%;
  color: rgb(211, 207, 201);
}

.header {
  width: 100%;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  size: 4vw;
  color: rgb(24, 26, 27);
  z-index: 100;
}
